body{
    background: white url("images/background.jpg");
}
.top-icon{
    margin-right: 6px;
}
.new{
    width: 334px;
}
.our_icon{
    font-family: 'Shadows Into Light', cursive;
}
.star{
    color: rgb(209, 224, 248);
}
.yellow-star{
    color: orange;
}
.trash{
    color: rgb(40, 50, 65);
}
.trash-border{
    border: 1px solid black !important;
}
.star-border{
    border: 1px solid black !important;
}
small{
    color: gray;
}
.box{
    background-color: #fff;
    /* border: 1px solid black; */
}


