{% extends 'music/basic.html' %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block register_active %}active{% endblock register_active %}


{% block body %}
<div class="container">
    <form action="" method="POST" >
    {% csrf_token %}
        <div class="row">
        <div class="col-sm-8">
        <div class="box mt-3 p-4">
            {{form|crispy}}
            <button type="submit" class="btn btn-success mt-3 mb-3">Sign Up</button>
            <br>
            <small>Already Have An Account? <a href="#"> Sign In </a> </small>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="box mt-3 p-4">
            <h3>What is Musify?</h3>
            <p>Musify is an application that let's you upload, store, and play all of your music from the cloud. You can now manage and listen to your music from any device, anywhere in the world.</p>
            <h3>How do I add music?</h3>
            <p>First create a new album by filing out the form on this page. Once an album is created you will be able to add/upload songs.</p>
        </div>
    </div>
</div>
    </form>
</div>
{% endblock body %}